#contato {
    height: 100vh;
}
.contato__flex {
   display: flex;
   flex-wrap: wrap;
}

.contato__box {
    background-color: chocolate;
    height: 100vh;
    width: 530px;
    padding: 0rem .3rem;
    display: grid;
    align-content: center;
    justify-content: center;
}

.contato__logo {
    width: 400px;
}

.contato__dados {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.contato__telefone {
    font-size: 1.2rem;
    background-color: $cor-titulo;
    padding: .5rem;
    border-radius: 10%;
    color: #fff;
    font-family: $fonte-titulo;
    border: 1px solid #fff;

        &:hover {
            background-color: #000;
            transition: all .6s;
        }
}

.contato__email {
    font-size: 1.2rem;
    background-color: $cor-titulo;
    padding: .5rem;
    border-radius: 10%;
    color: #fff;
    font-family: $fonte-titulo;
    border: 1px solid #fff;

        &:hover {
            background-color: #000;
            transition: all .6s;
        }
}

.contato__sociais--icones {
    display: flex;
    gap: .5rem;
}

.contato__sociais--ico {
    width: 30px;
}



